/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.contour {
    transition: fill 0.1s linear;
}

.core {
    transition: fill 0.3s linear 0.03s;
}

.main-body {
    transition: fill 0.3s linear;
}

.like-icon:hover {
    .core {
        fill:var(--accent-color);
        transition: fill 0.3s linear 0s;
    }

    .main-body {
        fill:var(--accent-color);
        transition: fill 0.3s linear 0.05s;
    }
}

.like-icon:active {
    .core {
        fill:var(--animation-fill-color);
        transition: fill 0.3s linear 0s;
    }

    .main-body {
        fill:var(--animation-fill-color);
        transition: fill 0.3s linear 0.05s;
    }
}

.like-icon.is-liked {
    .core {
        fill:var(--animation-fill-color);
        transition: fill 0.3s linear 0s;
    }

    .main-body {
        fill:var(--animation-fill-color);
        transition: fill 0.3s linear 0.05s;
    }

    .contour {
        fill:var(--animation-fill-color);
        transition: fill 0.3s linear 0.06s;
    }
}

.is-liked .heart {
  animation: heartbeat 0.3s ease-in 0.1s 1 forwards;
  transform-origin: center;
}

.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 forwards;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1; 
  }
  100% {
    opacity: 0;
  }
}