/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой @
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки @

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--normal);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Я сделал не по ТЗ, т.к. с repeating-linear-gradient у меня ломался градиент при изменении масштаба изображения*/
  background-image: 
      repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
}
 
.title-container {
  box-sizing: border-box;
  margin-block: 100px;
  padding-block: 120px;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  font-family:var(--additional-font);
  border: 2px solid var(--accent-color);
  inline-size: clamp(375px, 260.56px + 30.52vw, 700px);
  background-color: var(--bg-color);
}

.header_title {
  font-weight: 400;
  font-size: clamp(49px, 43.37px + 1.5vw, 65px);
}

.header-text {
  text-transform: uppercase;
  font-size: clamp(14px, 10.83px + 0.845vw, 23px);
}

.cards-item-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  inline-size: clamp(375px, 260.56px + 30.52vw, 700px);
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card-title {
  font-variation-settings: 'wght' var(--bold);
  font-size: 18px;
  margin-block: 4px;
  margin-inline: 10px;
  line-height: 22px;
}

.card-image-container {
  position: relative;
}

.img {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.decorative-element {
  position: absolute;
  top:25px;
  right:25px;
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  color: var(--decorative-color);
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--shadow-color);
}

@supports (-webkit-text-stroke: 1px var(--shadow-color)) {
  .decorative-element {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap:25px;
  margin: 25px;
  font-size: 18px;
}

.button {
  transition: 0.3s ease;
}

.buttons-container {
  display: flex;
  gap:8px;
  justify-content: end;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  min-inline-size: 130px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
  display: flex;
  background: var(--bg-color);
}

.button__text {
  font-family: var(--additional-font);
  font-size: 14px;
  margin: auto;
  mix-blend-mode: difference;
  color:var(--transition-text-color);
}

.footer-content-container {
  border: 2px solid var(--accent-color);
  margin-block-start: 50px;
  margin-block-end: 100px;
  background-color: var(--bg-color);
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:8px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--bg-color);
}

.floppy-svg-footer {
  margin-block-start: 17px;
  block-size: 28px;
  inline-size: 28px;
}

.footer-button-text {
  font-family: var(--additional-font);
  font-size: 14px;
  margin-inline:20px;
  margin-block-end: 17px;
  mix-blend-mode: difference;
  color: var(--transition-text-color);
}

/*filter*/

.contrast_filter {
  filter: contrast(150%);
}

.invert_filter {
  filter: invert(75%);
}

.blur_filter {
  filter:blur(2px);
}

.filter_saturate_blur {
  filter: saturate(40%) blur(1px);
}

.filter_rotate {
  filter: hue-rotate(180deg);
}

.filter_sepia {
  filter: sepia(60%);
}

.filter_brightness {
  filter:brightness(0.9);
}

/*heart*/

.sparks {
  opacity: 0;
}

/*dialog*/

.dialog {
  inline-size: clamp(341px, 260.56px + 30.52vw, 353px);
  border: 2px solid var(--accent-color);
}

.additional-container {
  display: flex;
  flex-direction: column;
}

.dialog-content-container {
  display: flex;
  flex-direction: row;
  margin-inline-start: 40px;
  margin-inline-end: 35px;
  margin-block: 30px;
  gap:20px;
}

.dialog-text {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.floppy-svg-dialog {
  flex-shrink: 0;
  block-size: 39px;
  inline-size: 39px;
  place-self: center;
}

.dialog-button {
  justify-content: center;
  border: 2px solid var(--accent-color);
  margin-inline: 40px;
  margin-block-end: 30px;
  padding-inline: 116px;
  padding-block: 12px;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--bg-color);
}

.dialog-button-text {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  mix-blend-mode: difference;
  color: var(--transition-text-color);
}

.dialog[open]::backdrop {
  background-color: black;
  opacity: 0.75;
}

/*Состояния*/

.button::before {
  content: "";
  position: absolute;
  top:0;
  left:0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-color);
  transform: translate(-100%);
  transition: transform 0.3s ease-out;
  z-index: -1;
}

.footer-button .floppy-svg {
  mix-blend-mode: difference;
  color: var(--transition-text-color);
}

.button:hover::before {
  transform: translate(0, 0);
}

.button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}


.button-focused:focus-visible {
box-shadow:2px 2px 0 var(--accent-color);
}

.footer-button:focus-visible {
box-shadow:4px 4px 0 var(--accent-color);
}

/*Адаптив*/

@media (width >= 1280px) {

  .title-container {
    padding-block: 130px;
  }

  .footer-button {
    flex-direction: row;
  }

  .floppy-svg-footer {
    margin-block: 17px;
    margin-inline-start: 20px;
    block-size: 18px;
    inline-size: 21px;
  }

  .footer-button-text {
    margin-inline:0px;
    margin-block-end: 0px;
    margin-inline-end: 20px;
  }
}